
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">	<title>Bootstrap and Flask</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
	</head>

	<body>
		<div class="container">
			<h1>Index page</h1>
			</br>
			<h3>Blinkt! light control<h3>
			<form action="/" method="GET">
				<!--<table class="table table-bordered" style="width:350px">-->
				<table class="table table-bordered">
					<tr style="border:1px solid grey">
						<td style="border:1px solid grey">
							<select type="submit" class="custom-select" style="font-size:medium" name="number">
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
								<option value="4">4</option>
								<option value="5">5</option>
								<option value="6">6</option>
								<option value="7">7</option>
								<option value="8">8</option>
							</select>
						</td>
						<td style="border:1px solid grey">						
							<input type="submit" name="LedOn" value="Led On" class="btn btn-primary btn-block">
						</td>
						<td style="border:1px solid grey">
							<input type="submit" name="LedOff" value="Led Off" class="btn btn-primary btn-block">
						</td>
					</tr>
					<tr style="border:1px solid grey">
						<td style="border:1px solid grey"></td>
						<td style="border:1px solid grey">
							<input type="submit" name="allOn" value="All On" class="btn btn-primary btn-block">
						</td>
						<td style="border:1px solid grey">
							<input type="submit" name="allOff" value="All Off" class="btn btn-primary btn-block">
						</td>
					</tr>
				</table>
			</form>
		
			<div class="container">
				{% if status %}
					{{ status }}
				{% else %}
				{% endif %}
			</div>
		</div>

	<!-- Bootstrap core JS -->
	<!-- placed at the end of the document so the page loads faster -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	</body>
</html>
